[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
cffi = "*"
bs4 = "*"
scrapy-djangoitem = "*"
django = "*"
requests = {extras = ["socks"], version = "*"}
django-phone-field = "*"
django-environ = "*"
word2number = "*"

[dev-packages]

[requires]
python_version = "3.9"
